:host {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: hidden;
  margin-top: 20px;
  background-color: var(--color-bg-code);
}

ol {
  margin: 0;
  padding: 0;
  border-bottom: var(--color-text-code) 2px solid;
}

li {
  list-style: none;
  color: var(--color-text-code);
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s, color 0.2s;
  margin-bottom: -2px;
}

li:hover:not(.active) {
  border-bottom-color: var(--color-four);
  color: var(--color-four);
}

li.active {
  color: var(--color-four);
  border-bottom-color: var(--color-four);
}

.content {
  flex: 1 1;
  overflow: auto;
}

